@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
/*General styles*/
* {
	box-sizing: border-box;
}

body{
	background-color: #565656;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

/*Header styles*/

header{
    padding: 20px;
    

    /* from https://www.w3schools.com/howto/howto_js_mobile_navbar.asp*/
    overflow: hidden;
  	position: relative;
}

header #my-links{
	display: none;
}

header #desktop-links{
	display: none;
}

header #my-links a{
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

header #my-links a:hover {
	background-color: #ddd;
	color: black;
}

header a.icon {
	display: block;
	position: absolute;
	right: 8%;
	top: 50px;	
}

header a.icon i{
	color: black;
	font-size: 4rem;
}

/*Table Styles*/

td, th {
    border-color: #546a2c;
}

/*Heading styles*/

h1{
	font-size: 3rem;
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	text-align: center;

}

h2{
	font-family: 'Libre Baskerville', serif;
}

/*Banner image styles*/
.banner-img{
	max-width: 100%;
	height: auto;
	width: 100%;
}

/*About section styles*/

.about-row{
	padding: 50px;
	background-color: #f9d686;
}

.about-box{
	padding: 20px;
	background-color: white;
	color: #546a2c;
}

.about-box a:hover{
	color: black;
	font-size: 4rem;

}
.about-box p{
	color: black;
}

/*About us page styles*/

.me-row{
	padding: 50px;
}

.me-row .columns{
	text-align: center;
}

.me-row h1{
	text-align: center;
}

.me-row img{
	max-width: 100%;
	height: auto;
}

/*Service page styles*/

.portfolio-row{
	padding: 50px;
}


.portfolio-row:first-child{
	padding-bottom: 0;

}

.portfolio-row:last-child{
	padding-top: 0;
}

.portfolio-row .columns{
	text-align: center;
}

.portfolio-row img{
	max-width: 100%;
	height: auto;
	position: relative;
}



figcaption{
	color: #fff;
}


/*Footer styles*/

footer{
    border-top: 3px solid;
}

footer h1{
	color: #fff;
}
footer p{
	color: #fff;
}


footer article{
	padding: 50px;
}

footer article:first-child{
	padding-bottom: 0;
}

footer article:last-child .columns:first-child{
	padding-bottom: 20px;
}

footer > article:first-child > div:first-child{
	padding: 20px;
    margin-bottom: 2em;
}

footer > article:first-child > div:last-child > div{
    margin-bottom: 2em;
}


.footer-box span:nth-child(2){
	display: none;
	margin-left: 12em;
	
}

.footer-box span:nth-child(3){
	display: none;
	margin-left: 12em;


}

.contact-us{
	text-align: center;
}

footer a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;	
}

.p-btn{
padding: 70px;
	background-color: white;
	color: #546a2c;
}


	.p-btn a {
		display: block;
	    text-decoration: none;
	    text-align: center;
	    margin: 10px;
	    color: #fff;
    	background: #e2a200;
	    font-size: 2rem;
	    border-radius: 4px;
	    padding-right: 1rem;
	    padding-top: 0.75rem;
	    padding-bottom: 0.75rem;



	}


/*Media queries*/

@media (min-width: 750px) {
	header a.icon{
		display: none;
	}
	header #desktop-links{
		display: inline-block;
	    float: right;
	    padding-top: 30px;
	    padding-right: 50px;
	    font-size: 2.5rem;
	}

	#desktop-links a {
	    margin-left: 2rem;
	    text-decoration: none;
	    color: #fff;
    	background: #e2a200;
	    font-size: 2rem;
	    border-radius: 4px;
	    padding-left: 2rem;
	    padding-right: 2rem;
	    padding-top: 0.75rem;
	    padding-bottom: 0.75rem;
	}

	#desktop-links a:hover{
		color: white;
	}

	.banner-img{
	    max-height: 635px;
	    object-fit: cover;
	}

	.columns.about-box{
	    max-width: 50%;
	    margin-left: 25%;
	    padding: 50px;
	}


	.p-btn{
		display: inline-flex;
	    float: left;
	    width: 100%;
	    padding-top: 55px;
	    padding-right: 50px;
	    font-size: 2.5rem;


	}
	.p-btn a {
		 margin-left: 1rem;
	    text-decoration: none;
	    color: #fff;
    	background: #e2a200;
	    font-size: 2rem;
	    border-radius: 4px;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    padding-top: 0.75rem;
	    padding-bottom: 0.75rem;



	}
}

/*End of media queries*/
